SimpleMutationDemo/.classpath
SimpleMutationDemo/.project
SimpleMutationDemo/.settings/org.eclipse.jdt.core.prefs
SimpleMutationDemo/.settings/org.eclipse.m2e.core.prefs
SimpleMutationDemo/.settings/org.sonar.ide.eclipse.core.prefs
